* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.main {
    margin: 100px auto;
    background: red;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.left {
    flex-basis: 250px;
    min-width: 250px;
    flex-direction: column;
    background: yellow;
    margin-right: 10px;
    padding: 10px;
    display: flex;
}

.left_top_block {
    background: lawngreen;
    width: 100%;
    height: 80px;
    margin-bottom: 10px ;
}
.scroll_left{
    flex: 1;
    overflow: auto;
}
.left_block {
    background: brown;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;

}

.right {
    flex-basis: 100%;
    flex-direction: column;
    background: red;
    display: flex;
}
.top_right{
    background: antiquewhite;
    height: 80px;
    width: 100%;
    padding: 15px;
}

.center_right {
    display: flex;
    margin-top: 10px;
    grid-gap:10px;

}

.center_1 {
    flex-basis: 50%;
    background: purple;
    width: 50%;
    height: 150px;

}
.center_bot_right {
    display: flex;
    margin-top: 10px;
    grid-gap:10px;
}
.center_b{
    flex-basis: 33.3333%;
    background: blue;
    width: 33.3333%;
    height: 250px;
}

.bottom_right{
    display: flex;
    margin-top: 10px;
    background: lawngreen;
    flex-grow: 1;
}
