* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.main {
    margin: 100px auto;
    background: orange;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.left {
    flex-basis: 50%;
    flex-direction: column;
    background: yellow;
    margin-right: 5px;
    padding: 10px;
    display: flex;
}

.lett_top {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: normal;
}

.lett_bottom {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    flex-direction: column;
}

.green {
    display: flex;
    width: 100%;
    height: 100px;
    background: green;
    margin-bottom: 10px;
}

.lightblue {
    display: flex;
    width: 100%;
    height: 100px;
    background: lightblue;
}

.right {
    flex-basis: 50%;
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
}

.odd_blue:nth-child(odd) {
    align-self: flex-end;
}

.blue {
    width: 100px;
    height: 100px;
    background: blue;
}