* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.main {
    margin: 100px auto;
    background: purple;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.row {
    flex: auto;
    min-height: calc((100% - 20px) / 3);
}

.yellow {
    flex-basis: 33.3333%;
    width: 33.3333%;
    height: 100%;
}

.bg_raw {
    background: lawngreen;
}

.blue_size {
    width: 100px;
    height: 100px;
}

.bg-blue {
    background: blue;
}

.bg-yellow {
    background: yellow;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.p-10 {
    padding: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.d-flex {
    display: flex;
}

.top_blue_position {
    justify-content: space-between;
}

.left-blue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-end;
    overflow: auto;
    flex-direction: column;
}

.blue_bottom {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: revert;
}